*{
    margin:0;
}

#navbar {
    /* border:solid blue 1px; */
    height:100px;
    display:flex;
    justify-content: space-between;
}
#navbarlogo{
    /* border:solid red 1px; */
    margin-left:300px;
}
#navbarlogo img{
    height:100px;
}
#navbarmenu{
    /* border:solid red 1px; */
    text-align: center;
    width:400px;
    margin-right:220px;
}
#navbarmenu a{
    text-decoration:none;
    color:black;
}
#navbarmenu li{
    display: inline;
    list-style-type: none;
    margin:20px;
    font-size:20px;
}
#navbarmenu ul{
    padding:40px;
}